$cyan: #21f5ee;
$bluegreen: #009c97;
$black: #111111;
$softBlack: #18181b;
$offBlack: #27272a;
$lightSoftBlack: rgb(31, 41, 55);
$white: #ffffff;
$offWhite: #fafafa;
$zinc: #e4e4e7;
$quick: 300ms;