.products-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: -1;

  .product-container {
    img {
      opacity: 0.85;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21%;
    padding: 2%;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.85);
    border-top: 1px solid lightgrey;

    .sale {
      background: transparent;
      width: 80px;
      height: 80px;
      position: relative;
      left: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transform: rotate(20deg);
      animation: beat 1s ease infinite alternate;
      overflow: hidden;
      z-index: 1;
    }
    .sale:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 80px;
      width: 80px;
      background: green;
      color: white;
      transform: rotate(135deg);
      z-index: -1;
    }
    @keyframes beat {
      from {
        transform: rotate(-20deg) scale(1);
      }
      to {
        transform: rotate(-20deg) scale(1.1);
      }
    }

    .product-info {
      display: flex;
      width: 100%;
      flex-direction: column;

      strong {
        color: red;

        .onSale {
          text-decoration: line-through;
        }
      }
      .newPrice {
        color: green;
      }

      .noSale {
        color: black;
      }
    }
  }
}
