@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

* {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  // background-color: rgb(42, 58, 69);
}

canvas{
  background-color: #fafafa;
  z-index: 1;
}

#app{
  height: 100vh;
}