@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

* {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

canvas{
  background-color: #fafafa;
  z-index: 1;
}

#app{
  height: 100vh;
  perspective: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(42,58,69);

  .layer1{
    z-index: -10;
    transform: translateZ(-20px) scale(6);
    position: absolute;
    top: -200px;
    left: 1600px;
    opacity: .75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .layer2{
    z-index: -10;
    transform: translateZ(-7px) scale(3);
    top: 750px;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .layer3{
    z-index: -10;
    transform: translateZ(-4px) scale(3) scaleY(1.5);
    top: 1000px;
    left: 250px;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
