.landingPage-container {
  display: flex;
  flex-direction: column;
  h1{
    text-align: center;
  }
  .section-container {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0 5%;
  }
  .imageContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50%;
  }
  img {
    object-fit: cover;
    flex-shrink: 0;
    height: 80%;
  }

  .img-caption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    overflow: hidden;
    top: 80%;
    height: 5rem;
    backdrop-filter: blur(25px);
    h2 {
      font-weight: 300;
    }
  }

  .graph-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    h2 {
      margin: 0;
      font-size: 2rem;
      text-align: center;
    }
  }
}
