$offwhite: #fafafa;

#nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5%;
  // width: 100%;
  background-color: white;

  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $offwhite;
    border-bottom: solid 1px #dfdfdf;

    .menu-bars {
      display: flex;
      justify-content: space-between;
      margin-left: 0;
      font-size: 2rem;
      background: none;
    }

    a {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      color: black;
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    .search {
      width: 40%;
      display: flex;
      position: relative;
      input {
        width: 100%;
        padding: 10px;
        padding-left: 1.75rem;
        font-size: large;
      }
      .icon {
        position: absolute;
        top: 14px;
        left: 7px;
      }
    }

    .not-active {
      visibility: hidden;
    }

    .active {
      visibility: visible;
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: xx-large;

      &:active {
        transform: translateY(1.5px);
      }

      .tooltip {
        padding: 10px;
        position: absolute;
        width: auto;
        white-space: nowrap;
        word-wrap: no-wrap;
        box-shadow: 1px 1px 20px #aaa;
        border-radius: 5px;
        background-color: #fff;
        top: 100px;
        left: 90.5%;
        transform: translate(-50%);
        transform-style: preserve-3d;
        z-index: 200;
        font-size: small;
        display: none;

        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 10px;
          height: 10px;
          transform-origin: 50% 50%;
          transform: rotate(45deg) translateX(-50%);
          background-color: #fff;
          left: 50%;
          top: -1px;
          z-index: 400;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          transform-origin: 50% 50%;
          transform: rotate(45deg) translateX(-50%) translateZ(-1px);
          background-color: #fff;
          left: 50%;
          top: 0px;
          z-index: -1;
          box-shadow: -1px -1px 20px #aaa;
        }
      }

      &:hover .tooltip {
        display: block;
      }

      .spinner:hover {
        animation: spin infinite 1s linear;

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 20rem;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: 750ms;
    background-color: $offwhite;
  }

  .nav-menu.active {
    padding-top: 1.5rem;
    left: 0;
    z-index: 10;
    transition: 250ms;
    overflow: scroll;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  .nav-menu-items {
    width: 100%;

    .navbar-toggle {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 5rem;
      margin-left: 2rem;
      font-size: 2rem;
      background-color: $offwhite;
    }
  }
}

// dim the background when the sidebar is open
.sidebar-overlay::after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: auto;
}
