* {
  overflow-x: hidden;
}
.productDisplay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;

  h1 {
    width: 100%;
    text-align: center;
  }

  .cache-line {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-evenly;

    .lineGraphContainer{
      overflow: hidden;
      canvas{
        width: 400px;
        height: 400px;
      }
    }

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: hidden;
      border-radius: 3px;

      img {
        object-fit: cover;
        width: 400px;
        height: 400px;
      }
    }
  }

  img {
    width: 100%;
  }
}
