.products-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    margin: 1%;
    background-color: white;

    .product-info {
      display: flex;
      flex-direction: column;
    }
  }
}