.sidebarLink {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 2rem;
  color: black;

  :hover {
    text-decoration: underline;
  }

  svg {
    position: relative;
    top: 0.25rem;
  }

  span {
    margin-left: 1rem;
  }
}

.dropdownLink {
  height: 60px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  color: black;

  :hover {
    text-decoration: underline;
  }
}
