@import '../variables.scss';

body {
  #docs {
    display: flex;
    width: 100%;
    background-color: $softBlack;
    color: $white;

    strong {
      color: $cyan;
      margin: 10px 10px;
    }

    .title {
      font-size: x-large;
      color: $offWhite;
      font-weight: 600;
      margin-left: 20px;
      border-bottom: 1px solid gray;
    }
    .time {
      color: $cyan;
      font-size: large;
      margin: 5px 20px;
    }
    .body {
      font-size: large;
      color: $bluegreen;
      margin-left: 20px;
    }

    #docs-nav {
      font-size: larger;
      position: fixed;
      top: 130px;
      width: 200px;
      height: 100vh;
      border-right: 1px solid gray;
      li {
        margin-left: 30px;
      }
    }

    #docs-content {
      display: flex;
      width: 80%;
      padding-top: 130px;
      margin-left: 210px;
      flex-direction: column;
      font-size: x-large;
      .section {
        background-color: $offBlack;
        margin: 10px 5px;
        width: 100%;
        border-radius: 10px;
        padding: 20px 25px 20px 10px;

        .title {
          margin-bottom: 10px;
          color: $offWhite;
        }
        .time {
          margin-bottom: 10px;
        }
        .body {
          margin-top: 10px;
          color: $offWhite;
        }
      }
    }
  }
}
