@import '../variables.scss';

.introduction-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $softBlack;
  padding: 2%;

  .header-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      margin-bottom: 2%;
    }

    p {
      font-weight: 200;
      font-size: 1.5rem;
      letter-spacing: 0.05rem;
    }

    h1,
    p {
      margin: 0;
    }

    p,
    .buttons-container {
      padding-top: 5%;
      padding-bottom: 5%;
    }

    strong {
      color: $cyan;
    }

    .buttons-container {
      display: flex;
      align-items: center;

      .copy-button {
        display: inline-block;
        background-color: $cyan;
        margin-right: 1rem;
        padding: 10px 25px;
        border-radius: 5px;
        transition: $quick;
        cursor: pointer;

        .forward-arrow {
          vertical-align: bottom;
        }

        code {
          color: $black;
          font-weight: 600;
        }

        &:hover {
          background-color: $white;
        }

        &:active {
          transform: scale(0.95);
        }
      }

      /* Curl Top Right */
      .hvr-curl-top-right {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
      }

      .hvr-curl-top-right::before {
        pointer-events: none;
        position: absolute;
        content: '';
        height: 0;
        width: 0;
        top: 0;
        right: 0;
        background: white;
        /* IE9 */
        background: linear-gradient(
          225deg,
          white 45%,
          #aaa 50%,
          #ccc 56%,
          white 80%
        );
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: width, height;
        transition-property: width, height;
      }

      .hvr-curl-top-right:hover::before,
      .hvr-curl-top-right:focus::before,
      .hvr-curl-top-right:active::before {
        width: 20px;
        height: 20px;
      }
    }
  }

  .blue-button,
  a {
    display: inline-block;
    color: $cyan;
    text-decoration: none;
    vertical-align: bottom;
    cursor: pointer;

    &:hover {
      color: $white;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.version-banner {
  display: block;
  text-align: center;
  background-color: $offBlack;
  color: $white;

  a {
    color: $cyan;
    text-decoration: underline;

    &:hover {
      color: $white;
    }
  }
}

.overview-container,
.overview-texts,
.overview-graph {
  display: flex;

  .overview-texts {
    flex-direction: column;
    width: 50%;
  }
}
