@import '../variables.scss';

.introduction-container {
  display: flex;
  height: 40%;
  justify-content: space-around;
  align-items: center;
  background-color: $softBlack;
  padding: 2%;
  padding-top: 120px;

  .header-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      margin-bottom: 2%;
    }

    p {
      font-weight: 200;
      font-size: 1.5rem;
      letter-spacing: 0.05rem;
    }

    h1,
    p {
      margin: 0;
    }

    p,
    .buttons-container {
      display: flex;
      justify-content: space-between;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    strong {
      color: $cyan;
    }

    .buttons-container {
      display: flex;
      align-items: center;
      width: 50%;

      .copy-button {
        display: flex;
        background-color: $cyan;
        padding: 20px 25px;
        border-radius: 5px;
        transition: $quick;
        cursor: pointer;

        .forward-arrow {
          display: inline-block;
        }

        code {
          display: inline-block;
          color: $black;
          font-weight: 600;
        }

        &:hover {
          background-color: $white;
        }

        &:active {
          transform: scale(0.95);
        }
      }

      /* Curl Top Right */
      .hvr-curl-top-right {
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      }

      .hvr-curl-top-right::before {
        pointer-events: none;
        position: absolute;
        content: '';
        height: 0;
        width: 0;
        top: 0;
        right: 0;
        background: white;
        border-radius: 5px;
        /* IE9 */
        background: linear-gradient(
          225deg,
          white 45%,
          #aaa 50%,
          #ccc 56%,
          white 80%
        );
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: width, height;
        transition-property: width, height;
      }

      .hvr-curl-top-right:hover::before,
      .hvr-curl-top-right:focus::before,
      .hvr-curl-top-right:active::before {
        width: 25px;
        height: 25px;
        border-radius: 5px;
      }
    }
  }

  .blue-button,
  a {
    display: inline-block;
    color: $cyan;
    text-decoration: none;
    vertical-align: bottom;
    cursor: pointer;

    &:hover {
      color: $white;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.version-banner {
  display: block;
  text-align: center;
  background-color: $black;
  color: $white;
  height: 5%;
  padding: 0.5%;

  a {
    color: $cyan;
    text-decoration: underline;

    &:hover {
      color: $white;
    }
  }
}

.overview-container {
  display: flex;
  max-width: 100vw;
  max-height: 45%;
  background-color: $offWhite;

  .bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 45%;
    filter: blur(10px);
  }

  .overview-texts,
  .overview-graph {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 50%;
    padding: 3.5% 5%;
  }

  .overview-texts {
    justify-content: center;
    align-items: flex-start;

    h3 {
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 2%;
    }

    p {
      font-size: 1.25rem;
      width: 75%;
      margin-top: 1%;
      margin-bottom: 1%;
    }
  }

  .overview-graph {
    background-color: $offWhite;
    backdrop-filter: blur(10px);

    canvas {
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
    }
  }
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  background-color: $offWhite;

  .demo-feature-container {
    display: flex;
    flex-direction: column;
    color: $black;
    background-color: #f5f5f4;
    width: 75%;
    padding: 3%;

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 5%;
      text-align: center;
    }

    hr {
      border: 1px solid $zinc;
    }

    .demo-container {
      display: flex;
      padding: 1%;

      img {
        max-width: 50%;
        margin-right: 2.5%;
      }

      .text {
        width: 100%;
      }

      h3 {
        font-size: 1.75rem;
        font-weight: 400;
        margin-bottom: 1%;
      }
    }
  }
}
